@font-face {
  font-family: 'japanFont';
  font-style: normal;
  src: local('japanFont'), url('../fonts/MPLUS1p-ExtraBold.woff2') format('woff2');
}

*{
  overflow: hidden;
  font-family: 'japanFont', sans-serif;
}
body {
  padding: 0px;
  margin: 0px;      
}
canvas {
  display: block;
  margin: 0 auto;
}
